body {
  margin: 0 auto;
  font-family: "Ysabeau Infant", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  background: #333;
}

.header {
  z-index: 1;
  left: 0;
  right: 0;
  background-color: #4a572e;
  font-size: 1.25em;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 0 1em;
}

.nav-bar {
  width: 30rem;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav-bar li {
  color: white;
}

.link {
  list-style: none;
}

.hero-banner {
  position: relative;
  background-image: url("../assets/images/heroBanner.avif");
  background-size: cover;
  opacity: 0.4;
  height: 76vh;
  max-height: 76vh;
}

.inner-banner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  right: 0%;
  z-index: 1;
  height: 76vh;
  max-height: 76vh;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 2.5%;
  padding-bottom: 2em;
  color: #41532f;
  /* background-color: #a8d3b9; */
}

.card-setting {
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2.5%;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.5rem, 1fr));
  margin-top: 2rem;
}

.service-img {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.service-img h4 {
  margin: 0 auto;
  font-size: 1.563rem;
  color: #41532f;
}

.service-img p {
  margin: 0 auto;
  font-size: 1.25rem;
  color: #41532f;
}

.service-img div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: fit-content;
  height: 7rem;
}

.service-img:hover {
  width: 94%;
  height: 94%;
  background: none;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0.1rem 2.5rem rgba(0, 0, 0, 0.4);
}

.grey-background {
  background-color: #f7f7f7;
  padding-bottom: 6rem;
}

.hero-title {
  font-size: 3.815em;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  color: white;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.5rem, 1fr));
  gap: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 6rem;
  max-width: 120rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.planning-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 3rem 2rem;
  min-width: 20rem;
  max-width: 70rem;
  background-color: #41532f;
  color: white;
}

.planning-container span {
  display: block;
  background-color: white;
  color: #41532f;
  width: 6rem;
  height: 6rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  font-weight: 600;
  font-size: 3.5rem;
}

.fix {
  height: min-content;
}

.planning-container :nth-child(2) {
  flex: 1;
  min-width: 15rem;
}

.planning-container p {
  margin: 0;
  font-size: 1.25rem;
}

.title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  font-size: 1.563rem;
  font-style: italic;
  min-width: 22.5rem;
  color: #41532f;
}

.title > p {
  font-size: 1.25rem;
  padding-bottom: 2.5%;
  margin: 0 auto;
  max-width: 60ch;
}

.title3 {
  font-size: 1.953rem;
}

.paragraph1 {
  font-size: 1.25rem;
  max-width: 30ch;
}

.paragraph2 {
  color: white;
  font-size: 1.25rem;
  max-width: 30ch;
  margin: 0;
  padding-top: 1em;
}

.center {
  text-align: center !important;
}
